<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="css/temp.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,500;0,800;1,400&family=DynaPuff:wght@600&family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="container">

        <header>
            <div class="headline">
                <img src="/sk1/img/4-kids.png" alt="The Spooniekids">
                <br>
                Living with fatigue has been brought to life by the 'Spoonies'
                <br>
                <a href="#content" class="button btn-42">Learn more</a>
            </div>
        </header>
        <div class="content" id="content">
            {{ .Content }}

            <div class="new-website">
                Please note this is a temporary page and a new website for Spooniekids is on the way.
            </div>
        </div>
        <footer>
            <div class="footer-inner">
                <div class="contact">
                    <h3>Contact</h3>
                    <p>Email <a href="mailto:spooniekids@yahoo.com">spooniekids@yahoo.com</a> for more information or with questions.</p>
                </div>
                <div class="about">
                    <h3>About</h3>
                    <p>This tool has been created by Joanna Hunt, an Occupational Therapist. She is registered with the <a href="http://www.hcpc-uk.org/">Health and Care Professions Council (HCPC)</a>, is a member of the Royal College of Occupational Therapists (RCOT) and the Specialist Section Children, Young People and Families.</p>
                </div>
                <div class="copyright">
                    <img src="/sk1/img/4-kids@0.5x.png" alt="The Spooniekids">
                    <br>
                    <span class="kb">Spooniekids</span>&copy; {{ now.Year }}
                </div>
            </div>
        </footer>
    </div>
    
</body>
</html>