        <footer>
            <div class="footer-inner">
                <div class="contact">
                    <h2>Contact</h2>
                    <p>Email <a href="mailto:xxxxxx@yahoo.com">xxxxxx@yahoo.com</a> for more information or with questions.</p>
                </div>
                <div class="about">
                    <h2>About</h2>
                    <p>This tool has been created by Joanna Hunt, an Occupational Therapist. She is registered with the <a href="http://www.hcpc-uk.org/">Health and Care Professions Council (HCPC)</a>, is a member of the Royal College of Occupational Therapists (RCOT) and the Specialist Section Children, Young People and Families.</p>
                </div>
                <div class="copyright">
                    <img src="/img/4-kids@0.5x.png" alt="The Spooniekids">
                    <br>
                    <span class="kb">Spooniekids</span>&copy; {{ now.Year }}
                </div>
            </div>
        </footer>
