<nav class="main-nav">
    <ul>
        <li><a href="#">Spooniekids</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Professionals</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav> 
<header>
            <div class="headline">
                <img src="/img/4-kids.png" alt="The Spooniekids">
                <br>
                Living with fatigue has been brought to life by the 'Spoonies'
                <br>
                <a href="#content" class="button btn-42">Learn more</a>
            </div>
        </header>